# venv
.venv
.voskvenv
# env
.env

# ptq

# site packages
ptq/vosk-tts/
ptq/wavlm-base-plus/
ptq/Library/
ptq/history*
.ipython
ptq/exp/egor/db
ptq/.arc
ptq/.cache
ptq/.viminfo

# dataset
ptq/natasha_dataset/

# model
ptq/pretrained
ptq/vosk-model-tts-ru-0.7-multi/
ptq/db
ptq/**/*.onnx
ptq/**/*.pth
ptq/**/*.pt
ptq/**/*.bin
ptq/**/*.ckpt
ptq/**/*.safetensors
ptq/**/*.tflite
ptq/**/*.pb
ptq/models
ptq/**/models/
ptq/exp/misha/onnx_scripts/*.onnx

# qat

qat/pretrained
qat/**/**zip

# audio
ptq/output
*wav

# system
.DS_Store
*pyc
ptq/ptq
